<article class="article-show">

  <h1><strong>Категория: "<%= @article.category.title %>"</strong></h1>  
  <h3><em>Подкатегория: "<%= @article.subcategory.title %>"</em></h3>

  <h2><%= @article.title %></h2>

  <figure>
    <%= image_tag @article.image.url(:medium) %>
    <small><figcaption><em>Изображение</em></figcaption></small>
  </figure>

  <h3><%= @article.description %></h3>
  <h4><%= (@article.contact) ? @article.contact : nil %></h4>
   <script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="transparent" data-options="medium,round,line,horizontal,counter,theme=08" data-services="vkontakte,odnoklassniki,facebook,twitter,google"></div>

<% if has_access %>
  <p>
  <%= link_to 'Редактировать объявление', edit_article_path, class: "btn btn-default" %>
  <%= link_to 'Удалить объявление', article_path, method: :delete, data: { confirm: "Вы уверены?" }, class: "btn btn-default" %>
  </p>
<% end %>
</article>

<h2 class="article-comment">Комментарии</h2>

<% if current_user %>
  <%= render 'partials/comment_form' %>
<% end %>

<%= render 'partials/comment' %>


