<section class="jumbotron_section">
  <div class="jumbotron" style="padding-bottom: 5px;background-color: #ffffff">
    <h1 style="margin-top: -50px;font-size: 45px;">Платформа для найденных и утерянных вещей.</h1>
    <%= image_tag("ruki.png", :alt => "logo", class: 'logo') %>
    <%= render 'partials/search' %>
    <p>
      <a class="btn btn-danger btn-lg" href="<%= found_articles_path %>" role="button">Я потерял вещь</a>
      <a class="btn btn-success btn-lg" href="<%= lost_articles_path %>" role="button">Я нашел вещь</a>
   

    </p>
  </div>
  <a class="btn btn-info btn-lg" href="<%= current_user ? new_article_path : new_user_session_path %>" role="button">Добавить объявление</a>
</section>
<aside>
  <p><em>Объявлений в разделе "Найденные" - </em><strong><%= @found_quantity %></strong> </p>
  <p><em>Объявлений в разделе "Потерянные" - </em><strong><%= @lost_quantity %></strong></p>
</aside>




